<h1 class="app-page-heading">{{ contactHeader }}</h1>
<hr />

<section>
  <div fxLayout.md="row wrap" fxLayout.lt-md="column" fxLayoutAlign="center center" fxLayoutGap="10px">
    <div class="contact-box">
      <mat-icon>email</mat-icon>
      <h1>{{ emailHeader }}</h1>
      <p>bill@billhorst.com</p>
    </div>
    <div class="contact-box">
      <mat-icon>phone</mat-icon>
      <h1>{{ phoneHeader }}</h1>
      <p>+1-719-651-4797</p>
    </div>
    <div class="contact-box">
      <mat-icon>place</mat-icon>
      <h1>{{ addressHeader }}</h1>
      <p>550 Sycamore Dr.</p>
      <p>Windsor, CO 80550</p>
    </div>
  </div>
</section>